h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    color: #4d8c57;
  }
  
  p {
    text-align: center;
    font-size: 16px;
  }
  
  /* Add styles to the form labels */
  label {
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Add styles to the form input fields */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccfccb;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Add styles to the form checkbox options */
  .checkbox_option {
    margin-bottom: 20px;
  }
  
  /* Add styles to the form checkbox labels */
  .checkbox_option label {
    display: inline;
    font-weight: normal;
  }
  
  /* Add styles to the form submit buttons */
  .cancelbtn,
  .loginbtn {
    float: left;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Add styles to the form cancel button */
  .cancelbtn {
    background-color: #568259;
  }
  
  .cancelbtn:hover {
    background-color: #bfbfbf;
  }
  
  /* Add styles to the form login button */
  .loginbtn {
    background-color: #CCFCCB;
    color: white;
  }
  
  .loginbtn:hover {
    background-color: #3e8e41;
  }