/*navbar by bhavan */
nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #FFFFFF;
  }

  nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px;
  }

  .logo {
    font-size: 22px;
    font-weight: bold;
  }

/*about us page by qasim*/

body{
    background-image: linear-gradient(43deg, #CCFCCB 0%, #F1FFFA 46%, #F5F5F5 100%) ;
    font-family: "Chakra Petch";
    margin: 0;
    padding: 0;
}
.section{
    width: 100%;
    min-height: 100vh;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-selection img{
    width: 100%;
    height: auto;
}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}
.content-section .content h3{
    margin-top: 20px;
    color: #464d47;
    font-size: 25px;
}
.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5;

}
.content-section .content .button{
    margin-top: 30px;
}
.content-section .content .button a{
    background-color:#464d47;
    padding:12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
    background-color: #96e6b3;
    color:#fff
}
.content-section .social{
    margin-top: 40px;
}
.content-section .social i {
    color: #0126ad;
    font-size: 30px;
    padding:0px 10px;
}
.content-section .social i:hover{
    color:#3d3d3d;
    
}


  /*store front by sijan*/
 
  .product_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 30px;
}

.product_list {
    padding: 3em;
}

.product_list .card {
    background-color: #f1fffa;
    padding: 1em;
    box-shadow: 0px 10px 10px #ccfccb;
    text-align: center;

}

.card .title {
    font-size: 19px;
    font-weight: bold;
    text-align: left;
}

.card img {
    max-width: 100%;
    transition: transform 1s;
    height: 300px;
    width: 215px;
    margin-bottom: 20px;
}

.image:hover img {
    transform: scale(1.3);
}

.card .image {
    overflow: hidden;

}

.card .price {
    text-align: left;
    font-size: small;
}

.addTocart {
    background-color: #568259;
    border: none;
    padding: 1em;
    border-radius: 5px;
    font-weight: bold;
    float: right;
}

.addTocart:hover {
    background-color: #464E47;
    transition: 0.3s ease;
    cursor: pointer;
}

.author_name {
    text-align: left;
    width: fit-content;
    float: left;
    font-size: small;
}

.view_product a {
    text-decoration: none;
    color: black;
}

/* about us*/


.section {
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section {
    float: left;
    width: 55%;
}

.image-section {
    float: right;
    width: 40%;
}

.image-selection img {
    width: 100%;
    height: auto;
}

.content-section .title {
    text-transform: uppercase;
    font-size: 28px;
}

.content-section .content h3 {
    margin-top: 20px;
    color: #464d47;
    font-size: 25px;
}

.content-section .content p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5;

}

.content-section .content .button {
    margin-top: 30px;
}

.content-section .content .button a {
    background-color: #464d47;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.content-section .content .button a:hover {
    background-color: #96e6b3;
    color: #fff
}

.content-section .social {
    margin-top: 40px;
}

.content-section .social i {
    color: #0126ad;
    font-size: 30px;
    padding: 0px 10px;
}

.content-section .social i:hover {
    color: #3d3d3d;

}

/* individual product page*/
.small-img-group{
    display: flex;
    justify-content: space-between;   
}

.small-img-col{
    flex-basis: 33%;
    cursor: pointer;
}
.product select{
    display: block;
    padding: 5px 10px;
    margin: 30px 0px;
    
}
.product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.product input:focus {
    outline: none;
}
.buy-btn{
    display: inline-block;
    background: #464e47;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
    margin: 30px 0px;
    
}

/*signup*/
 
  /* Add styles to the form headings */
  h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  p {
    text-align: center;
    font-size: 16px;
  }
  
  /* Add styles to the form labels */
  label {
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Add styles to the form input fields */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccfccb;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Add styles to the form checkbox options */
  .checkbox_option {
    margin-bottom: 20px;
  }
  
  /* Add styles to the form checkbox labels */
  .checkbox_option label {
    display: inline;
    font-weight: normal;
  }
  
  /* Add styles to the form submit buttons */
  .cancelbtn,
  .signupbtn {
    float: left;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Add styles to the form cancel button */
  .cancelbtn {
    background-color: #568259;
  }
  
  .cancelbtn:hover {
    background-color: #bfbfbf;
  }
  
  /* Add styles to the form signup button */
  .signupbtn {
    background-color: #CCFCCB;
    color: white;
  }
  
  .signupbtn:hover {
    background-color: #3e8e41;
  }