.ordertable {
    height: 600px;
    padding: 20px;
    
    .ordertableTitle{
      width: 100%;
      font-size: 24px;
      color: gray;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .link{
        text-decoration: none;
        color: green;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid green;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  
    .cellWithImg {
      display: flex;
      align-items: center;
  
      .cellImg {
        width: 32px;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;

        object-fit: cover;
        margin-right: 20px;
      }
    }

    .status {
      padding: 5px;
      border-radius: 5px;
  
      &.Approved {
        color: green;
        background-color: rgba(0, 128, 0, 0.151);
      }
      
      &.Pending {
        color: goldenrod;
        background-color: rgba(189, 189, 3, 0.103);
      }
    }
  
    .cellAction {
      display: flex;
      align-items: center;
      gap: 15px;
  
      .viewButton {
        padding: 2px 5px;
        border-radius: 5px;
        color:#568259;
        border: 1px dotted #2e5e32;
        cursor: pointer;
      }
      
      .deleteButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: crimson;
        border: 1px dotted rgba(220, 20, 60, 0.6);
        cursor: pointer;
      }

      
    }
  }
  