
.product_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 30px;
    }
   
   .product_list{
    padding: 3em;
   }
   .product_list .card{
    background-color: #f1fffa;
    padding:1em;
    box-shadow: 0px 10px 10px #ccfccb;
    text-align:center;
    
   } 
   .card .title{
    font-size: 19px;
    font-weight: bold;
    text-align: left;
   }
   .card img{
    max-width: 100%;
    transition:transform 1s;
    height: 300px;
    width:215px;
    margin-bottom: 20px;
   }
  .image:hover img{
      transform:scale(1.3);
  }
  .card .image{
  overflow:hidden;
  
  }
   .card .price{
    text-align:left;
    font-size: small;
   }
   .addTocart{
    background-color: #568259;
    border:none;
    padding:1em;
    border-radius:5px;
    font-weight:bold;
    float:right;
   }
   .addTocart:hover{
    background-color: #464E47;
    transition: 0.3s ease;
    cursor:pointer;
   }
   .author_name{
    text-align: left;
    width:fit-content;
    float:left;
    font-size: small;
   }
   .view_product a{
    text-decoration: none;
    color: black;
   }

   .Catbar{
    padding: 15px;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    background-color: #c8ecd4;
   }
   .tabs{
    padding: 10px;
    justify-content:space-evenly;
    font:  white;
   }