.navbar{
    height: 60px;
    border-bottom: 0.5px solid gainsboro;
    display:flex ;
    align-items: center;
    font-size: 14px;
    color: #555;

    .wrapper{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .items{
            display: flex;
            align-items: center;
            margin-left: auto;
            
            .item{
                display: flex;
                align-items: center;
                margin-right: 20px;
                position:relative;
                
                .icon{
                    font-size: 20px;
                    padding: 5px;
                    &:hover{
                        color: #568259;
                        font-size: 30px;
                        padding: 0px;
                    }
                }
                .avatar{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                .counter{
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 10px;
                    font-weight: bold;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                }
            }
        }
    }
}